<nav class="p-fixed">
    <div class="d-flex px-5 py-1 align-items-center justify-content-between">
        <div>
            <img class="br-1" width="50px" src="assets/images/logo.webp" />
        </div>
        <div>
            <div class="container-buoking-start">
                <span>¿Quieres poner tu casa en Buoking?</span>
                <a href="" class="btn-buoking-start">
                    <i class="fa-solid fa-house"></i>
                    Buoking Start
                </a>
            </div>
        </div>
    </div>
</nav>