<div class="m-1 d-flex justify-content-center align-items-center">
    <div class="box-search row box-shadow caja-opciones">
        <div class="box-efect-hover box-input-search col-6 form-group-1">
            <label>Dónde</label>
            <input type="text" placeholder="explorar destinos">
        </div>
        <div class="box-efect-hover box-input-search col-4 form-group-1 ml-1">
            <label>Llegada</label>
            <input type="date" placeholder="explorar destinos">
        </div>
        <div class="box-efect-hover box-input-search col-4 form-group-1 ml-1">
            <label>Salida</label>
            <input type="date" placeholder="explorar destinos">
        </div>
        <div class="box-efect-hover box-input-search col-4 form-group-1 ml-1">
            <label>Quién</label>
            <input type="text" placeholder="¿Cuantos?">
        </div>
        <div class="box-input-search col-2 box-btn-search">
            <a href="" class="btn-search">
                <i class="fa-solid fa-magnifying-glass"></i>
            </a>
        </div>
    </div>
</div>