<div class="caja-filtro my-1">
    <div class="box-opciones d-flex align-items-center gap-5">
        <button class="btn-f-cambio" (click)="cambiarI()">
            <i class="fa-solid fa-angle-left"></i>
        </button>
        <div class="box-opciones-selecciones">
            <button class="btn-opcion-cambio d-flex justify-content-center flex-dc align-items-center">
                <i class="fa-solid fa-phone"></i>
                <span>Llama</span>
            </button>
            <button class="btn-opcion-cambio d-flex justify-content-center flex-dc align-items-center">
                <i class="fa-solid fa-phone"></i>
                <span>dfsd</span>
            </button>
            <button class="btn-opcion-cambio d-flex justify-content-center flex-dc align-items-center">
                <i class="fa-solid fa-phone"></i>
                <span>dsfs</span>
            </button>
            <button class="btn-opcion-cambio d-flex justify-content-center flex-dc align-items-center">
                <i class="fa-solid fa-phone"></i>
                <span>2ewq</span>
            </button>
            <button class="btn-opcion-cambio d-flex justify-content-center flex-dc align-items-center">
                <i class="fa-solid fa-phone"></i>
                <span>wqe</span>
            </button>
            <button class="btn-opcion-cambio d-flex justify-content-center flex-dc align-items-center">
                <i class="fa-solid fa-phone"></i>
                <span>Llama</span>
            </button>
            <button class="btn-opcion-cambio d-flex justify-content-center flex-dc align-items-center">
                <i class="fa-solid fa-phone"></i>
                <span>Llama</span>
            </button>
            <button class="btn-opcion-cambio d-flex justify-content-center flex-dc align-items-center">
                <i class="fa-solid fa-phone"></i>
                <span>dfsd</span>
            </button>
            <button class="btn-opcion-cambio d-flex justify-content-center flex-dc align-items-center">
                <i class="fa-solid fa-phone"></i>
                <span>dsfs</span>
            </button>
            <button class="btn-opcion-cambio d-flex justify-content-center flex-dc align-items-center">
                <i class="fa-solid fa-phone"></i>
                <span>2ewq</span>
            </button>
            <button class="btn-opcion-cambio d-flex justify-content-center flex-dc align-items-center">
                <i class="fa-solid fa-phone"></i>
                <span>wqe</span>
            </button>
            <button class="btn-opcion-cambio d-flex justify-content-center flex-dc align-items-center">
                <i class="fa-solid fa-phone"></i>
                <span>Llama</span>
            </button>
            <button class="btn-opcion-cambio d-flex justify-content-center flex-dc align-items-center">
                <i class="fa-solid fa-phone"></i>
                <span>Llama</span>
            </button>
            <button class="btn-opcion-cambio d-flex justify-content-center flex-dc align-items-center">
                <i class="fa-solid fa-phone"></i>
                <span>dfsd</span>
            </button>
            <button class="btn-opcion-cambio d-flex justify-content-center flex-dc align-items-center">
                <i class="fa-solid fa-phone"></i>
                <span>dsfs</span>
            </button>
            <button class="btn-opcion-cambio d-flex justify-content-center flex-dc align-items-center">
                <i class="fa-solid fa-phone"></i>
                <span>2ewq</span>
            </button>
            <button class="btn-opcion-cambio d-flex justify-content-center flex-dc align-items-center">
                <i class="fa-solid fa-phone"></i>
                <span>wqe</span>
            </button>
            <button class="btn-opcion-cambio d-flex justify-content-center flex-dc align-items-center">
                <i class="fa-solid fa-phone"></i>
                <span>Llama</span>
            </button>
            <button class="btn-opcion-cambio d-flex justify-content-center flex-dc align-items-center">
                <i class="fa-solid fa-phone"></i>
                <span>Llama</span>
            </button>
            <button class="btn-opcion-cambio d-flex justify-content-center flex-dc align-items-center">
                <i class="fa-solid fa-phone"></i>
                <span>wqeq</span>
            </button>
            <button class="btn-opcion-cambio d-flex justify-content-center flex-dc align-items-center">
                <i class="fa-solid fa-phone"></i>
                <span>Llama</span>
            </button>
            <button class="btn-opcion-cambio d-flex justify-content-center flex-dc align-items-center">
                <i class="fa-solid fa-phone"></i>
                <span>sdfds</span>
            </button>
            <button class="btn-opcion-cambio d-flex justify-content-center flex-dc align-items-center">
                <i class="fa-solid fa-phone"></i>
                <span>Llama</span>
            </button>
            <button class="btn-opcion-cambio d-flex justify-content-center flex-dc align-items-center">
                <i class="fa-solid fa-phone"></i>
                <span>vdcvd</span>
            </button>
            <button class="btn-opcion-cambio d-flex justify-content-center flex-dc align-items-center">
                <i class="fa-solid fa-phone"></i>
                <span>Llama</span>
            </button>
            <button class="btn-opcion-cambio d-flex justify-content-center flex-dc align-items-center">
                <i class="fa-solid fa-phone"></i>
                <span>sdfsd</span>
            </button>
            <button class="btn-opcion-cambio d-flex justify-content-center flex-dc align-items-center">
                <i class="fa-solid fa-phone"></i>
                <span>Llama</span>
            </button>
        </div>
        <button class="btn-f-cambio" (click)="cambiarD()">
            <i class="fa-solid fa-angle-right"></i>
        </button>
    </div>
    <div class="box-btn-filtro">
        <button class="btn-filtro d-flex justify-content-center align-items-center">
            <span class="d-flex justify-content-center align-items-center gap-3 text-gray">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 4; overflow: visible;"><path fill="none" d="M7 16H3m26 0H15M29 6h-4m-8 0H3m26 20h-4M7 16a4 4 0 1 0 8 0 4 4 0 0 0-8 0zM17 6a4 4 0 1 0 8 0 4 4 0 0 0-8 0zm0 20a4 4 0 1 0 8 0 4 4 0 0 0-8 0zm0 0H3"></path></svg>
                <span>Filtros</span>
            </span>
        </button>
    </div>
</div>