<main>
    <section class="px-5">
        <div class="banner-principal h-100 flex-wrap align-content-center justify-content-center">
            <div class="baner-parte-info">
                <h1 class="color-principal titulo">
                    Pon tu casa en Buoking.
                </h1>
                <h2 class="subtitulo">
                    Podrías ganar
                </h2>
                <div class="monto-ganancia">
                    233 $
                </div>
                <div class="container-tiempo-ganancia">
                    <a href="">7 noches</a>
                    a unos 33 $ por noche
                </div>
                <div class="container-range-monto my-1">
                    <input class="input-range-monto" type="range">
                </div>
                <div class="container-descubrecomocalculamos">
                    <a href="">Descubre cómo calculamos cuánto podrías ganar</a>
                </div>
                <div class="container-c-busqueda-region mt-1">
                    <div class="container-busqueda-region">
                        <button class="btn-busqueda-region">
                            <div class="container-icono-busqueda">
                                <i class="fa fa-search"></i>
                            </div>
                            <div class="container-detalles-busqueda">
                                <div class="region">
                                    Arequipa
                                </div>
                                <div class="container-detalles-completos-busqueda">
                                    <div class="">
                                        Alojamiento entero
                                    </div>
                                    <div>
                                        .
                                    </div>
                                    <div>
                                        2 dormitorios
                                    </div>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="br-1">
                <iframe class="br-1" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4551.674479415019!2d-71.5371538491502!3d-16.400087352454197!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91424a59ffae2999%3A0xc419f49d1f9cd270!2sPlaza%20Mayor%20de%20Arequipa!5e0!3m2!1ses!2spe!4v1733955888730!5m2!1ses!2spe" width="550px" height="600px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            
        </div>
        <div class="titulo-dark mt-5 mb-1">
            <h1>Poner tu casa en Buoking es muy fácil con Buoking Start</h1>
        </div>
        <div class="container-portada my-2">
            <picture>
                <img src="assets/images/homes/portada.webp">
            </picture>
        </div>
        <div class="container-center">
            <div class="container-caracteristicas my-2">
                <div class="container-caracteristica">
                    <h3>Ayuda de un Superanfitrión
                    </h3>
                    <p>Te buscaremos un Superanfitrión de tu zona, que te guiará en tus primeros pasos hasta conseguir tu primer huésped. Os podréis comunicar por teléfono, videollamada o chat.
                    </p>
                </div>
                <div class="container-caracteristica">
                    <h3>Un primer huésped experimentado
                    </h3>
                    <p>Para tu primera reserva, puedes decidir si prefieres recibir a alguien que ya tenga experiencia viajando con Airbnb: al menos tres estancias completas y una buena reputación.
                    </p>
                </div>
                <div class="container-caracteristica">
                    <h3>Asistencia especializada de Airbnb
                    </h3>
                    <p>Los anfitriones nuevos tienen acceso directo a un equipo de Atención al Cliente exclusivo para resolver problemas relacionados con su cuenta, con la facturación y muchos otros aspectos.
                    </p>
                </div>
            </div>
        </div>
        <div class="container-imagen-aircover mt-5 mb-2">
            <picture>
                <img src="assets/images/homes/aircover.webp">
            </picture>
        </div>
        <div class="titulo-dark mt-1 mb-1">
            <h1>Pon tu casa en Buoking con una protección amplia</h1>
        </div>
        <div class="container-tabla-beneficios">
            <table>
                <thead>
                    <tr class="tr-estilo">
                        <th></th>
                        <th>Buoking</th>
                        <th>Otras plataformas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr-estilo">
                        <td class="info-table">
                            <h2>Verificación de la identidad de los huéspedes	
                            </h2>
                            <p class="text-gray">
                                Nuestro exhaustivo sistema de verificación revisa información como el nombre, la dirección, el documento de identificación oficial y otros datos para confirmar la identidad de las personas que reservan en Airbnb.	
                            </p>
                        </td>
                        <td>
                            <i class="fa-solid fa-check color-green"></i>
                        </td>
                        <td>
                            <i class="fa-solid fa-x color-red"></i>
                        </td>
                    </tr>
                    <tr class="tr-estilo">
                        <td class="info-table">
                            <h2>Análisis de las reservas	
                            </h2>
                            <p class="text-gray">
                                Nuestra tecnología patentada analiza cientos de factores en cada reserva y bloquea aquellas que conllevan un riesgo elevado de que se produzcan daños materiales o se celebren fiestas que puedan causar molestias.	
                            </p>
                        </td>
                        <td>
                            <i class="fa-solid fa-check color-green"></i>
                        </td>
                        <td>
                            <i class="fa-solid fa-x color-red"></i>
                        </td>
                    </tr>
                    <tr class="tr-estilo">
                        <td class="info-table">
                            <h2>Protección de 3 millones de dólares frente a daños	
                            </h2>
                            <p class="text-gray">
                                Airbnb te reembolsa por los daños que causen los huéspedes en tu alojamiento y tus pertenencias e incluye estas protecciones específicas:
                            </p>
                        </td>
                        <td>
                            <i class="fa-solid fa-check color-green"></i>
                        </td>
                        <td>
                            <i class="fa-solid fa-x color-red"></i>
                        </td>
                    </tr>
                    <tr class="tr-estilo">
                        <td class="info-table">
                            <h3 class="text-gray">Obras de arte y objetos de valor	
                            </h3>
                        </td>
                        <td>
                            <i class="fa-solid fa-check color-green"></i>
                        </td>
                        <td>
                            <i class="fa-solid fa-x color-red"></i>
                        </td>
                    </tr>
                    <tr class="tr-estilo">
                        <td class="info-table">
                            <h3 class="text-gray">Automóviles y embarcaciones	
                            </h3>
                        </td>
                        <td>
                            <i class="fa-solid fa-check color-green"></i>
                        </td>
                        <td>
                            <i class="fa-solid fa-x color-red"></i>
                        </td>
                    </tr>
                    <tr class="tr-estilo">
                        <td class="info-table">
                            <h3 class="text-gray">Daños causados por mascotas	
    
                            </h3>
                        </td>
                        <td>
                            <i class="fa-solid fa-check color-green"></i>
                        </td>
                        <td>
                            <i class="fa-solid fa-x color-red"></i>
                        </td>
                    </tr>
                    <tr class="tr-estilo">
                        <td class="info-table">
                            <h3 class="text-gray">Pérdidas de ingresos	
    
                            </h3>
                        </td>
                        <td>
                            <i class="fa-solid fa-check color-green"></i>
                        </td>
                        <td>
                            <i class="fa-solid fa-x color-red"></i>
                        </td>
                    </tr>
                    <tr class="tr-estilo">
                        <td class="info-table">
                            <h3 class="text-gray">Limpieza profunda	
                            </h3>
                        </td>
                        <td>
                            <i class="fa-solid fa-check color-green"></i>
                        </td>
                        <td>
                            <i class="fa-solid fa-x color-red"></i>
                        </td>
                    </tr>
                    <tr class="tr-estilo">
                        <td class="info-table">
                            <h2>Seguro de responsabilidad civil de 1 millón de dólares	
                            </h2>
                            <p class="text-gray">
                                Cuentas con protección en el improbable caso de que un huésped tenga un percance, alguien le robe sus pertenencias o estas sufran algún desperfecto durante su estancia.
                            </p>
                        </td>
                        <td>
                            <i class="fa-solid fa-check color-green"></i>
                        </td>
                        <td>
                            <i class="fa-solid fa-x color-red"></i>
                        </td>
                    </tr>
                    <tr class="tr-estilo">
                        <td class="info-table">
                            <h2>Línea de protección 24 horas	
                            </h2>
                            <p class="text-gray">
                                Si crees que estás en peligro, tienes acceso directo a un equipo especializado desde la aplicación, que te atenderá tanto de día como de noche.
                            </p>
                        </td>
                        <td>
                            <i class="fa-solid fa-check color-green"></i>
                        </td>
                        <td>
                            <i class="fa-solid fa-x color-red"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container-info-adicional-tabla">
            La comparativa se basa en información de dominio público y en ofertas gratuitas de los principales competidores a fecha de octubre de 2022. <a href="">Consulta los detalles y las exclusiones aquí.</a>
        </div>
        <div class="container-btn-informacion">
            <a href="">
                Más información
            </a>
        </div>
    </section>
    <section>
        
    </section>
</main>