<main class="px-5 ">
    <div class="banner-principal">
        <div>
            <div>
                Pon tu casa en Buoking.
            </div>
            <div>
                Podrías ganar
            </div>
            <div>
                233 $
            </div>
            <div>
                <a href="">7 noches</a>
                a unos 33 $ por noche
            </div>
            <div>
                <input type="range">
            </div>
            <div>
                <a href="">Descubre cómo calculamos cuánto podrías ganar</a>
            </div>
            <div>
                <div>
                    <button>
                        <div>
                            <i class="fa-search"></i>
                        </div>
                        <div>
                            <div>
                                Arequipa
                            </div>
                            <div>
                                <div>
                                    Alojamiento entero
                                </div>
                                <div>
                                    .
                                </div>
                                <div>
                                    2 dormitorios
                                </div>
                            </div>
                        </div>
                    </button>
                </div>
            </div>
        </div>
        <div class="br-1">
            <iframe class="br-1" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4551.674479415019!2d-71.5371538491502!3d-16.400087352454197!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91424a59ffae2999%3A0xc419f49d1f9cd270!2sPlaza%20Mayor%20de%20Arequipa!5e0!3m2!1ses!2spe!4v1733955888730!5m2!1ses!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        
    </div>
</main>