<main>
    <section class="px-5">
        <div class="banner-principal h-100 flex-wrap align-content-center justify-content-center">
            <div class="baner-parte-info">
                <h1 class="color-principal titulo">
                    Pon tu casa en Buoking.
                </h1>
                <h2 class="subtitulo">
                    Podrías ganar
                </h2>
                <div class="monto-ganancia">
                    233 $
                </div>
                <div class="container-tiempo-ganancia">
                    <a href="">7 noches</a>
                    a unos 33 $ por noche
                </div>
                <div class="container-range-monto my-1">
                    <input class="input-range-monto" type="range">
                </div>
                <div class="container-descubrecomocalculamos">
                    <a href="">Descubre cómo calculamos cuánto podrías ganar</a>
                </div>
                <div class="container-c-busqueda-region mt-1">
                    <div class="container-busqueda-region">
                        <button class="btn-busqueda-region">
                            <div class="container-icono-busqueda">
                                <i class="fa fa-search"></i>
                            </div>
                            <div class="container-detalles-busqueda">
                                <div class="region">
                                    Arequipa
                                </div>
                                <div class="container-detalles-completos-busqueda">
                                    <div class="">
                                        Alojamiento entero
                                    </div>
                                    <div>
                                        .
                                    </div>
                                    <div>
                                        2 dormitorios
                                    </div>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="br-1">
                <iframe class="br-1" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4551.674479415019!2d-71.5371538491502!3d-16.400087352454197!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91424a59ffae2999%3A0xc419f49d1f9cd270!2sPlaza%20Mayor%20de%20Arequipa!5e0!3m2!1ses!2spe!4v1733955888730!5m2!1ses!2spe" width="550px" height="600px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            
        </div>
        <div class="titulo-dark mt-5 mb-1">
            <h1>Poner tu casa en Buoking es muy fácil con Buoking Start</h1>
        </div>
        <div class="container-portada my-2">
            <picture>
                <img src="assets/images/homes/portada.webp">
            </picture>
        </div>
        <div class="container-center">
            <div class="container-caracteristicas my-2">
                <div class="container-caracteristica">
                    <h3>Ayuda de un Superanfitrión
                    </h3>
                    <p>Te buscaremos un Superanfitrión de tu zona, que te guiará en tus primeros pasos hasta conseguir tu primer huésped. Os podréis comunicar por teléfono, videollamada o chat.
                    </p>
                </div>
                <div class="container-caracteristica">
                    <h3>Un primer huésped experimentado
                    </h3>
                    <p>Para tu primera reserva, puedes decidir si prefieres recibir a alguien que ya tenga experiencia viajando con Airbnb: al menos tres estancias completas y una buena reputación.
                    </p>
                </div>
                <div class="container-caracteristica">
                    <h3>Asistencia especializada de Airbnb
                    </h3>
                    <p>Los anfitriones nuevos tienen acceso directo a un equipo de Atención al Cliente exclusivo para resolver problemas relacionados con su cuenta, con la facturación y muchos otros aspectos.
                    </p>
                </div>
            </div>
        </div>
        <div class="container-imagen-aircover mt-5 mb-2">
            <picture>
                <img src="assets/images/homes/aircover.webp">
            </picture>
        </div>
        <div class="titulo-dark mt-1 mb-1">
            <h1>Pon tu casa en Buoking con una protección amplia</h1>
        </div>
        <div class="container-tabla-beneficios">
            <table>
                <thead>
                    <tr class="tr-estilo">
                        <th></th>
                        <th>Buoking</th>
                        <th>Otras plataformas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr-estilo">
                        <td class="info-table">
                            <h2>Verificación de la identidad de los huéspedes	
                            </h2>
                            <p class="text-gray">
                                Nuestro exhaustivo sistema de verificación revisa información como el nombre, la dirección, el documento de identificación oficial y otros datos para confirmar la identidad de las personas que reservan en Airbnb.	
                            </p>
                        </td>
                        <td>
                            <i class="fa-solid fa-check color-green"></i>
                        </td>
                        <td>
                            <i class="fa-solid fa-x color-red"></i>
                        </td>
                    </tr>
                    <tr class="tr-estilo">
                        <td class="info-table">
                            <h2>Análisis de las reservas	
                            </h2>
                            <p class="text-gray">
                                Nuestra tecnología patentada analiza cientos de factores en cada reserva y bloquea aquellas que conllevan un riesgo elevado de que se produzcan daños materiales o se celebren fiestas que puedan causar molestias.	
                            </p>
                        </td>
                        <td>
                            <i class="fa-solid fa-check color-green"></i>
                        </td>
                        <td>
                            <i class="fa-solid fa-x color-red"></i>
                        </td>
                    </tr>
                    <tr class="tr-estilo">
                        <td class="info-table">
                            <h2>Protección de 3 millones de dólares frente a daños	
                            </h2>
                            <p class="text-gray">
                                Airbnb te reembolsa por los daños que causen los huéspedes en tu alojamiento y tus pertenencias e incluye estas protecciones específicas:
                            </p>
                        </td>
                        <td>
                            <i class="fa-solid fa-check color-green"></i>
                        </td>
                        <td>
                            <i class="fa-solid fa-x color-red"></i>
                        </td>
                    </tr>
                    <tr class="tr-estilo">
                        <td class="info-table">
                            <h3 class="text-gray">Obras de arte y objetos de valor	
                            </h3>
                        </td>
                        <td>
                            <i class="fa-solid fa-check color-green"></i>
                        </td>
                        <td>
                            <i class="fa-solid fa-x color-red"></i>
                        </td>
                    </tr>
                    <tr class="tr-estilo">
                        <td class="info-table">
                            <h3 class="text-gray">Automóviles y embarcaciones	
                            </h3>
                        </td>
                        <td>
                            <i class="fa-solid fa-check color-green"></i>
                        </td>
                        <td>
                            <i class="fa-solid fa-x color-red"></i>
                        </td>
                    </tr>
                    <tr class="tr-estilo">
                        <td class="info-table">
                            <h3 class="text-gray">Daños causados por mascotas	
    
                            </h3>
                        </td>
                        <td>
                            <i class="fa-solid fa-check color-green"></i>
                        </td>
                        <td>
                            <i class="fa-solid fa-x color-red"></i>
                        </td>
                    </tr>
                    <tr class="tr-estilo">
                        <td class="info-table">
                            <h3 class="text-gray">Pérdidas de ingresos	
    
                            </h3>
                        </td>
                        <td>
                            <i class="fa-solid fa-check color-green"></i>
                        </td>
                        <td>
                            <i class="fa-solid fa-x color-red"></i>
                        </td>
                    </tr>
                    <tr class="tr-estilo">
                        <td class="info-table">
                            <h3 class="text-gray">Limpieza profunda	
                            </h3>
                        </td>
                        <td>
                            <i class="fa-solid fa-check color-green"></i>
                        </td>
                        <td>
                            <i class="fa-solid fa-x color-red"></i>
                        </td>
                    </tr>
                    <tr class="tr-estilo">
                        <td class="info-table">
                            <h2>Seguro de responsabilidad civil de 1 millón de dólares	
                            </h2>
                            <p class="text-gray">
                                Cuentas con protección en el improbable caso de que un huésped tenga un percance, alguien le robe sus pertenencias o estas sufran algún desperfecto durante su estancia.
                            </p>
                        </td>
                        <td>
                            <i class="fa-solid fa-check color-green"></i>
                        </td>
                        <td>
                            <i class="fa-solid fa-x color-red"></i>
                        </td>
                    </tr>
                    <tr class="tr-estilo">
                        <td class="info-table">
                            <h2>Línea de protección 24 horas	
                            </h2>
                            <p class="text-gray">
                                Si crees que estás en peligro, tienes acceso directo a un equipo especializado desde la aplicación, que te atenderá tanto de día como de noche.
                            </p>
                        </td>
                        <td>
                            <i class="fa-solid fa-check color-green"></i>
                        </td>
                        <td>
                            <i class="fa-solid fa-x color-red"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container-info-adicional-tabla">
            La comparativa se basa en información de dominio público y en ofertas gratuitas de los principales competidores a fecha de octubre de 2022. <a href="">Consulta los detalles y las exclusiones aquí.</a>
        </div>
        <div class="container-btn-informacion">
            <a href="">
                Más información
            </a>
        </div>
    </section>
    <section class="session-dudas px-4 py-4 mt-5">
        <div class="session-dudas-titulo">
            <h1>Resolvemos
                tus dudas</h1>
        </div>
        <div class="session-dudas-contenido">
            <div class=" bt-1-gray mb-1 acordion">
                <div class="container-acordion-head">
                    <button class="acordion-head" (click)="onChildClick($event)">
                        <h2>¿Mi alojamiento es adecuado para Airbnb?</h2>
                        <div class="container-icon-svg-ad">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 4; overflow: visible;"><path fill="none" d="M4 20 15.3 8.7a1 1 0 0 1 1.4 0L28 20"></path></svg>
                        </div> 
                    </button>
                </div>
                <div class="acordion-body d-none">
                    A los huéspedes les interesan espacios de lo más variopintos. Para que te hagas una idea, en la plataforma hay anunciadas minicasas, cabañas y casas del árbol, por ejemplo. Incluso una habitación libre puede ser un alojamiento fantástico.
                </div>
            </div>
            <div class="bt-1-gray mb-1 acordion">
                <div class="container-acordion-head">
                    <button class="acordion-head" (click)="onChildClick($event)">
                    <h2>¿Mi alojamiento tiene que estar siempre disponible?
                        </h2>
                        <div class="container-icon-svg-ad">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 4; overflow: visible;"><path fill="none" d="M4 20 15.3 8.7a1 1 0 0 1 1.4 0L28 20"></path></svg>
                        </div> 
                    </button>
                </div>
                <div class="acordion-body d-none">
                    Para nada: tú controlas tu calendario. Puedes ofrecerlo una vez al año, durante algunos días al mes o con más frecuencia.
                </div>
            </div>
            <div class=" bt-1-gray mb-1 acordion">
                <div class="container-acordion-head">
                    <button class="acordion-head" (click)="onChildClick($event)">
                    <h2>¿Cuánto hay que tratar con los huéspedes?
                        </h2>
                        <div class="container-icon-svg-ad">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 4; overflow: visible;"><path fill="none" d="M4 20 15.3 8.7a1 1 0 0 1 1.4 0L28 20"></path></svg>
                        </div> 
                    </button>
                </div>
                <div class="acordion-body d-none">
                    Eso es cosa tuya. Algunos anfitriones prefieren escribir a los huéspedes solo en momentos importantes, como cuando llegan al alojamiento, y a otros les encanta recibirlos en persona. Encontrarás un estilo que encaje con tu personalidad y con las necesidades de los viajeros.
                </div>
            </div>
            <div class=" bt-1-gray mb-1 acordion">
                <div class="container-acordion-head">
                    <button class="acordion-head" (click)="onChildClick($event)">
                    <h2>¿Qué hay que hacer para ser buen anfitrión en Airbnb?</h2>
                    <div class="container-icon-svg-ad">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 4; overflow: visible;"><path fill="none" d="M4 20 15.3 8.7a1 1 0 0 1 1.4 0L28 20"></path></svg>
                    </div> 
                    </button>
                </div>
                <div class="acordion-body d-none">
                    Una vez que tienes cubiertos ciertos aspectos básicos, el resto es pan comido. Asegúrate de que el alojamiento esté impoluto, tarda poco en responder a los huéspedes y proporciónales los servicios necesarios, como toallas limpias. A algunos anfitriones les gusta añadir un toque personal, como dejar flores frescas en el alojamiento o una lista de sitios imprescindibles en la zona, pero no es obligatorio.
                    <a href="">Lee más consejos para anfitriones</a>
                </div>
            </div>
            <div class=" bt-1-gray mb-1 acordion">
                <div class="container-acordion-head">
                    <button class="acordion-head" (click)="onChildClick($event)">
                    <h2>¿Qué comisiones aplica Airbnb?</h2>
                    <div class="container-icon-svg-ad">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 4; overflow: visible;"><path fill="none" d="M4 20 15.3 8.7a1 1 0 0 1 1.4 0L28 20"></path></svg>
                    </div> 
                    </button>
                </div>
                <div class="acordion-body d-none">
                    Airbnb suele aplicar una comisión de servicio fija del 3 % al subtotal de la reserva cuando recibes el pago. También cobramos una comisión a los huéspedes cuando reservan. En muchas zonas, Airbnb recauda y remite automáticamente en tu nombre las tasas turísticas y los impuestos sobre las ventas.
                    <a href="">Más información sobre las comisiones</a>
                </div>
            </div>
        </div>
    </section>
    <section class="px-4 py-4 bb-1-gray section-container-dudas-extra">
        <div class="container-dudas-extra">
            <div class="container-imagen-dudas-extra">
                <img src="assets/images/homes/imagen-personas.webp">
            </div>
            <div class="container-contenido-dudas-extra">
                <h1 class="mb-1">¿Sigues teniendo dudas?</h1>
                <p class="mb-1">Pídele ayuda a un Superanfitrión con experiencia cerca de ti.</p>
                <button>Búscame un Superanfitrión</button>
            </div>
        </div>
    </section>
    <section class="px-4 py-4 bb-1-gray">
        <div class="container-opciones-menu-paginas">
            <div>
                <h5>Asistencia</h5>
                <a href="">Centro de ayuda</a>
                <a href="">AirCover</a>
                <a href="">Lucha contra la discriminación</a>
                <a href="">Ayuda a la discapacidad</a>
                <a href="">Opciones de cancelación</a>
                <a href="">¿Problemas en el barrio?</a>
            </div>
            <div>
                <h5>Cómo ser anfitrión</h5>
                <a href="">Pon tu casa en Airbnb</a>
                <a href="">AirCover para anfitriones</a>
                <a href="">Recursos para anfitriones</a>
                <a href="">Foro de la comunidad</a>
                <a href="">Ser un anfitrión responsable</a>
                <a href="">Apúntate a una clase gratuita sobre cómo ser anfitrión</a>
                <a href="">Busca un coanfitrión</a>
            </div>
            <div>
                <h5>Airbnb</h5>
                <a href="">Newsroom</a>
                <a href="">Nuevas funciones</a>
                <a href="">Empleo</a>
                <a href="">Inversores</a>
                <a href="">Tarjetas regalo</a>
                <a href="">Estancias con Airbnb.org</a>
            </div>
        </div>
    </section>
    <nav class="nav-host-homes px-4 py-2">
        <div class="nav-part-copy">
            <span class="span-copy">
                &copy; 2024 Airbnb, Inc. 
            </span>
            <div class="punto punto-1"></div>
            <a href="">Privacidad</a>
            <div class="punto"></div>
            <a href="">
                Condiciones
            </a>
            <div class="punto"></div>
            <a href="">
                Mapa del sitio
            </a>
            <div class="punto"></div>
            <a href="">
                Datos de la empresa
            </a>
        </div>
        <div class="nav-part-configuration-redes">
            <button>
                <i class="fa-solid fa-globe"></i>
                <span>Español (ES)</span>
            </button>
            <button>
                <i>€</i>
                <span>EUR </span>
            </button>
            <div class="nav-part-redes">
                <a href="">
                    <i class="fa-brands fa-square-facebook"></i>
                </a>
                <a href="">
                    <i class="fa-brands fa-square-twitter"></i>
                </a>
                <a href="">
                    <i class="fa-brands fa-square-instagram"></i>
                </a>
            </div>
        </div>
    </nav>
</main>