<div class="container m-2 box d-flex justify-content-center align-items-center">
    <div class="position-r col-18">
        <div class="position-a z-1">
            <div class=" bg-white br-1 p-2 mt-3 box-shadow" style="width: 400px;">
                <form class="text-l">
                    <h1 class="fw-bold">Busca Alojamiento en HotelesPremiun</h1>
                    <p class="text-gray mt-1">Te esperan alojamientos enteros y habitaciones ideales para cualquier tipo de viaje.</p>
                    <div class="form-group-1">
                        <label>DESTINO</label>
                        <input type="text" placeholder="Cualquier Lugar">
                    </div>
                    <div class="form-group-2">
                        <div>
                            <label>LLEGADA</label>
                            <input type="date" placeholder="Cualquier Lugar">
                        </div>
                        <span class="text-gray">|</span>
                        <div>
                            <label>SALIDA</label>
                            <input type="date" placeholder="Cualquier Lugar">
                        </div>
                    </div>
                    <div class="form-group-2">
                        <div class="d-flex flex-dc">
                            <label>ADULTOS</label>
                            <select>
                                <option>1</option>
                                <option>1</option>
                                <option>1</option>
                                <option>1</option>
                                <option>1</option>
                                <option>1</option>
                                <option>1</option>
                                <option>1</option>
                                <option>1</option>
                            </select>
                        </div>
                        <span class="text-gray">|</span>
                        <div class="d-flex flex-dc">
                            <label>NIÑOS</label>
                            <select>
                                <option>1</option>
                                <option>1</option>
                                <option>1</option>
                                <option>1</option>
                                <option>1</option>
                                <option>1</option>
                                <option>1</option>
                                <option>1</option>
                                <option>1</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="position-r " >
            <img class=" br-1 position-s r-0" src="https://a0.muscache.com/im/pictures/9caaca2d-6892-4638-b675-6a879974f5ed.jpg?im_w=960">
        </div>
    </div>
</div>